.element-display {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .element-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .rank {
    font-weight: 600;
    margin-left: 10px;
    font-size: 30px;
  }
  
  .element-image {
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 20px;
  }
  
  .element-image.small {
    width: 50px;
    height: 70px;
  }
  
  .element-image.large {
    width: 450px;
    height: 720px;
  }
  
  .element-name {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  
  .percentage {
    font-weight: 600;
    margin-right: 10px;
    font-size: 30px;
  }
  
  .dropdown-button {
    background: #22c5be;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .element-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
  }
  
  /* Popup styles */
  .image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    position: relative;
  }
  
  .popup-content img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  }
  
  .image-popup:hover {
    cursor: pointer;
  }