.element-display {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.element-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank {
  font-weight: 600;
  margin-left: 10px;
  font-size: 30px;
}

.element-image {
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 20px;
}

.element-image.small {
  width: 45px;
  height: 72px;
}

.element-image.large {
  width: 310px;
  height: 500px;
}

.element-name {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.score {
  font-weight: 500;
  margin-right: 10px;
  font-size: 22px;
  text-align: center;
}

.standard-deviation {
  color: grey;
  margin-right: 10px;
  font-size: 15px;
}

.score-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.details-content > * {
  flex: 1 1 calc(30% - 20px);
  margin: 5px;
}

.dropdown-button {
  background: #22c5be;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.element-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
  display: flex; /* Flexbox aktivieren */
  flex-direction: column;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
}

.details-text {
  margin: auto;
  place-self: center center;
  justify-content: center;
  font-size: large;
  font-style: italic;
}

/* Popup styles */
.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
}

.popup-content img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.image-popup:hover {
  cursor: pointer;
}
